*{
    border: 1px solid #000;
    padding: 10px;
    margin:10px;
}

/*fondo_morado*/

.bg_purple{
    background-color: blueviolet;

}    

.bg_pink{
    background-color: palevioletred;
}

.bg_yellow{
    background-color: yellow;
}

.bg_green{
    background-color: green;
}

.block{
    /*acepta altura*/
    display: block;
}

.inline{
    /*no acepta tamano*/
    display: inline;
}

.inline-block{
    /*acapta tamani*/
    display: inline-block;
}

aside{
    width: 50%;
    height: 50dvw;
}

.flex{
    /*configuraciones del diplay flex*/
    display: flex;
    /*direccion*/
    flex-direction: row;
    /*para agruparlas*/
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

#content{
    width: 65%;
}

.flex_1{
    /*tamano de un elemento*/
    flex-grow: 1;
}

.flex_2{
    flex-grow: 2;
}

.grid{
    display: grid;
    grid-template-columns:50px 1fr 1fr 2fr; /*fr tamano en fraccion de la cuadricula*/
    grid-template-rows: 25% 25% 30% 20%;
    /*gap:30px 100px*/
    gap: 30px 100px;
    column-gap: 10px;
    row-gap: 20px;
}

.grid_item_1{
    grid-column-start: 1;

    grid-column-end: 5;
}